{% extends "ocorrencias/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Alerta Urbano - Editar Ocorrência{% endblock title %}

{% block content %}
<div class="container">

    <div class="col-lg-8 mx-auto">

        <h2 class="text-center mb-4">Editar ocorrência</h2>

        <form action="{% url "editar" ocorrencia.pk %}" method="POST" enctype="multipart/form-data" class="form-container">
            {% csrf_token %}

            <div class="mb-4">
                {% if ocorrencia.imagem %}
                    <img src="{{ ocorrencia.imagem.url }}" alt="Imagem da ocorrência"  class="img-fluid img-thumbnail">
                {% else %}
                    <div class="text-center text-secundary py-4 border rounded">
                        Nenhuma imagem enviada
                    </div>
                    
                {% endif %}
            </div>
                
            {{ form|crispy}}
            
            <div class="d-flex gap-2 mt-4">
                <button type="submit" class="btn btn-primary">Salvar</button>

                <a href="{% url 'painel' %}" class="btn btn-secondary">Voltar</a>
            </div>
            
        </form>
    
    </div>

</div>
{% endblock content %}