{% extends "ocorrencias/base.html" %}

{% block title %}Painel Administrador{% endblock title %}

{% block content %}
<div class="container">
    <h1>Painel de Administrador</h1>
    <ul>
        {% for ocorrencia in ocorrencias %}
            <li>{{ ocorrencia.get_categoria_display }}</li>
            <li>{{ ocorrencia.descricao }}</li>
            <li>{{ ocorrencia.localizacao }}</li>
            
            {% if ocorrencia.imagem %}
                <img src={{ ocorrencia.imagem.url }} alt={{ "Imagem da ocorrência" }} class="img-fluid">
            {% else %}
                <p>Nenhuma imagem enviada</p>
            {% endif %}

            <li>{{ ocorrencia.data_criacao }}</li>
            <li>{{ ocorrencia.get_status_display }}</li>
        {% endfor %}
    </ul>

</div>
{% endblock content %}