{% extends "ocorrencias/base.html" %}

{% block title %}Painel Administrador{% endblock title %}

{% block content %}

<div class="table-responsive">
    <table class="table  text-center">
        <thead class="">
        <tr>
            <th>Imagem</th>
            <th>Categoria</th>
            <th>Localização </th>
            <th>Data</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>

        <tbody>
            {% for ocorrencia in ocorrencias %}
                <tr>
                    <td>
                        {% if ocorrencia.imagem %}
                            <a href="{{ ocorrencia.imagem.url }}" target="_blank">Ver imagem</a>
                        {% else %}
                            <span class="text-muted">Sem imagem</span>
                        {% endif %}
                    </td>
                    <td>{{ ocorrencia.get_categoria_display }}</td>
                    <td>{{ ocorrencia.localizacao }}</td>
                    <td>{{ ocorrencia.data_criacao }}</td>
                    <td>{{ ocorrencia.get_status_display }}</td>
                    <td>
                        <a href="{% url 'editar' ocorrencia.pk %}" class="">Editar</a>
                        <a href="{% url 'deletar' ocorrencia.pk %}" class="">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
        </thead>
    </table>
</div>
{% endblock content %}