{% extends "ocorrencias/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Alerta Urbano - Página de reporte{% endblock title %}

{% block content %}

<div class="container">

    <div class="col-lg-8 mx-auto">

        <h1 class="text-center mb-4">Faça seu Reporte</h1>

        <p class="text-center text-muted">Informe o problema encontrado e, se possível, envie uma imagem.</p>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mb-4" role="alert">
                {{ message.message }}
            </div>
        {% endfor %}

        <form method="POST" enctype="multipart/form-data" class="form-container">
            {% csrf_token %}
            
            {{ form|crispy}}
            
            <button type="submit" class="btn btn-primary mt-3 px-4">
                Enviar reporte
            </button>
        
        </form>
        
    </div>

</div>

{% endblock content %}
